/*
fcf7ff: ghost white
c4cad0: lavender grey
878c8f: roman silver
a4969b: purplish grey
655560: eggplant purple
 */

header {
  background-color: #655560;
  padding: 1em;
}

h1 {
  color: #fcf7ff;
  font-size: 42px;
  text-align: center;
  font-family: Impact;
}

nav {
  background-color: #a4969b;
}

nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  list-style: none;
  float: left;
}

nav a {
  color: #655560;
  text-decoration: none;
  border-right: 1px solid #655560;
  padding: 1em;
  display: inline-block;
}

nav a:hover {
  background-color: #c4cad0;
}

#main_content {
  background-color: #fcf7ff;
  padding: 1em;
  overflow: hidden;
  width: 100%;
}

article {
  float: left;
  width: 80%;
}

article p {
  margin-right: 2em;
}

article h2,
aside h3 {
  margin: 0;
}

.facts {
  float: right;
  background-color: #878c8f;
  margin: -1em;
  width: 20%;
  min-height: 400px;
  padding: 1em;
}

body {
  margin: 0;
}
